
<div class="student-details-container">
    <!-- Top Navbar with Menu Icon -->
    <div class="top-navbar">
      <mat-icon class="menu-icon" (click)="toggleMenu()">menu</mat-icon>
      <span class="title">Student Details</span>
    </div>
  
    <!-- Dropdown menu -->
    <div *ngIf="menuOpen" class="dropdown-menu">
      <button mat-button (click)="showResult()">studentmarksform</button>
      <button mat-button (click)="showAttendance()">studnetAttendenceform</button>
    </div>
  
    <!-- Student Icon and Details -->
    <div class="student-icon">
      <mat-icon class="student-icon-img">school</mat-icon>
    </div>
  
    <div class="student-details">
      <div class="detail">
        <label>Full Name:</label>
        <span>{{ teacherDetails?.name }}</span>
      </div>
      <div class="detail">
        <label>TeacherId:</label>
        <span>{{ teacherDetails?.tid }}</span>
      </div>
      <div class="detail">
        <label>branch:</label>
        <span>{{ teacherDetails?.subject }}</span>
      </div>
      <div class="detail">
        <label>password:</label>
        <span>{{ teacherDetails?.password }}</span>
      </div>
    </div>
  </div>
  